body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #bfbfbf;
}

#app {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
}

#menu-inicial {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

#menu-inicial button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#menu-inicial button:hover {
    background-color: #0056b3;
}

#menu-pesquisa {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

#menu-pesquisa button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#menu-pesquisa button:hover {
    background-color: #0056b3;
}


.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#cliente-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

#cliente-form input {
    
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#cliente-form select {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    max-width: 400px;
}

#cliente-form button {
    padding: 10px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#cliente-form button:hover {
    background-color: #218838;
}

#clientes-list {
    margin-top: 20px;
}

.cliente-item {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.cliente-item p {
    margin: 5px 0;
}

.cliente-item button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 5px;
}

.cliente-item button:hover {
    background-color: #c82333;
}

.cliente-item button.edit {
    background-color: #ffc107;
}

.cliente-item button.edit:hover {
    background-color: #e0a800;
}

#voltar {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

#voltar:hover {
    background-color: #5a6268;
}